.navbar-default {
    background-color: rgb(4, 6, 8);

}
.navbar-expand-lg {
  color: rgb(245, 247, 250);
}

body{
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: White;
}
.body2{
  margin-left: 30px;
  background-image: url("Uber02.webp");
  margin-right: 30px;
}
.body3{
  margin-left: 30px;
  background-image: url("Uber04.webp");
  margin-right: 30px;
}
#body4{
  color: Blue;
}
.body5{
  background-color: White;
}
.body6{
  height: 100px;
}

.img1{
  width: 30px;
  height: 30px;
}

.img2{
  width: 17px;
  border-radius: 20%;
  height: 15px;
}

.img3{
  width: 100%;
  height: 100%;
}
.f1{
  margin-top: 50px;
  text-align: center;
}
.f2{
  background-color: White;
  margin-left: 20px;
  height: 25px;
  width: 25px;
}
.f3{
  margin-top: 110px;
  margin-left: -40px;
}
.container1{
  width: 500px;
  margin-left: 0px;
  height: 500px;
  background-color: White;
}

.container02{
    background: "Uber04.webp"
}

a{
  color: White;
}
.jumbo1{
  background-color: Black;
}

hr{
  background-color: white;
}
.col-3{
    color: white;
}

.img4{
  width: 130px;
  height: 40px;
}
.col-sm{
  margin-top: 22px;
}
